@model ShiftLogger.Models.User

@{
    ViewData["Title"] = "Vytvořit uživatele";
    Layout = "_Layout";
}

<div class="container border p-4 w-100" style="max-width: 500px;">
    <h2 class="text-center mb-4">Vytvořit uživatele</h2>
    <form asp-action="CreateUser" method="post">
        <div class="form-group">
            <label asp-for="UserName">Jméno</label>
            <input asp-for="UserName" class="form-control border-secondary" placeholder="Jan Novák" id="username" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control border-secondary" placeholder="prijmeni.galmonez@seznam.cz" id="email" />
        </div>
        <div class="form-group">
            <label asp-for="Pass">Heslo</label>
            <div class="input-group" id="input-group">
                <input asp-for="Pass" class="form-control border-right-0 border-secondary" placeholder="H€slo123" id="password" autocomplete="off"  />
                <div class="input-group-append">
                    <button style="width: 40px; height: 38px;" class="btn d-flex align-items-center justify-content-center border-left-0 border-secondary" type="button" id="togglePassword">
                        <i class="fa fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Role">Role</label>
            <select asp-for="Role" class="form-control border-secondary" id="role">
                <option value="0">Správce</option>
                <option value="1">Řidič</option>
            </select>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg w-100">Vytvořit</button>
        </div>
    </form>
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-secondary">Zpět</a>
    </div>
</div>
